*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 110vh;  
    width: 100%;
    flex-direction: column ;
}
h1{
    font-size: 3rem;
    font-weight: 300;
}
h3{
    margin: 20px 0 0 0;
}
span{
    color: #c36cbb;
}
#btn{
    border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
    font-size: 16px;
    margin: 20px 0 0 0;
    transition: all 0.5s ease 0s;
}
#btn:hover{
    background: #c36cbb;
    color: white;
}
#btn:focus{
    outline: none;
}
.gateau{
    margin: -40px 0 10px 0;
    text-align: center;
}

img{
    margin: 0 30px 60px 30px;
    width: 350px;
    height: 230px;
}
.receita{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.ingredientes{
    text-align: center;
    margin: -15px 0 20px 0;
}
ul{
    margin-top: 40px;
    margin-left: 40px;
}
li{
    padding: 5px;
}
.preparo{
    width: 45%;
    margin-left: 50px;
    
}
p{
    text-indent: 30px;
    padding: 30px;
    line-height: 25px;
    margin-top: -13px;
    text-align: justify;
}
#modo{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
}
.video{
    margin-top: 40px;
    text-align: center;
}